{plugins, [agner_rebar_plugin]}.
{deps, [
                {socketio, ".*", {git, "git://github.com/sinnus/socket.io-erlang.git", "dev"}}
        ]}.
{lib_dirs, ["deps", "deps/socketio", "deps/socketio/jsx/deps","deps/socketio/ex_uri/deps"]}.
{sub_dirs, ["socketio"]}.
{erl_opts, [debug_info,
            {i,"deps/socketio/include/"},
            {i,"deps/socketio/deps/proper/include/"},
            {i,"deps/socketio/deps/ex_uri/include/"},
            {d,'COMPILING_WITH_REBAR_AND_ERLC_HATES_DEPS'}
           ]}.
